# Virtual environments
.venv/
venv/

# Python caches
__pycache__/
*.pyc
*.pyo

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Dev tools config
.pytest_cache/
.mypy_cache/
.ruff_cache/
